<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver
            android:name=".widget.ContentWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="android.appwidget.action.APPWIDGET_ENABLED" />
                <action android:name="com.pin.recommend.ContentWidgetProvider.ACTION_UPDATE" />
                <action android:name="com.pin.recommend.ContentWidgetProvider.ACTION_PINING" />
                <action android:name="com.pin.recommend.ContentWidgetProvider.ACTION_UNPINNING" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_content_info" />
        </receiver>

        <service
            android:name=".widget.ContentRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".widget.EventRemoteViewsService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <activity
            android:name=".ui.anniversary.AnniversaryCreateActivity"
            android:exported="false"
            android:label="記念日の作成"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.anniversary.AnniversaryEditActivity"
            android:exported="false"
            android:label="記念日の編集"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.anniversary.AnniversaryScreenShotActivity"
            android:label="スクリーンショット"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.globalsetting.GlobalSettingActivity"
            android:label="@string/title_activity_global_setting"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.character.CharacterEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.story.StorySlideShowActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.payment.PaymentTagListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.payment.PaymentCreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.payment.PaymentEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.payment.PaymentWholePeriodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.payment.SavingsWholePeriodActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.event.EventCreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.event.EventEditActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.gacha.GachaBadgeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.story.StoryEditActivity"
            android:label="EditStoryActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.story.StoryDetailActivity"
            android:label="@string/title_activity_story_detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.story.CreateStoryActivity"
            android:label="@string/title_activity_create_story"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name=".ui.character.CharacterCreateActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.character.CharacterListActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.character.CharacterDetailActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.gacha.GachaStringContentActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.passcode.PassCodeSetActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.passcode.PassCodeConfirmationActivity"
            android:screenOrientation="behind"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.component.NotificationDialogActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="behind"
            android:theme="@style/Translucent" />
        <activity
            android:name="com.pin.util.admob.reward.RewardDialogFragmentActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="behind"
            android:theme="@style/Translucent" />
        <activity
            android:name="com.pin.util.SimpleDialogFragmentActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="behind"
            android:theme="@style/Translucent" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6083382584515170~2198377338" />
    </application>

</manifest>